<div>

    {{!-- <img src="{{this.beer.image_url}}" alt="cervezita" />
    <h3>{{this.beer.name}}</h3>
    <p>{{this.beer.description}}</p>
    <p>{{this.beer.tagline}}</p> --}}
    {{>beerpartial this.beer}}

    <p>{{this.beer.food_pairing}}</p>
    <p>{{this.beer.brewers_tips}}</p>
</div>